/.idea/caches/
/.idea/dictionaries/
/.idea/libraries/
/.idea/misc.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/
/.idea/workspace.xml
/build
/captures
/local.properties
.gradle
.DS_Store
*.iml
.externalNativeBuild
fastlane/report.xml
node_modules/